*{
    overflow: hidden;
}
body {
    width: 98vw;
    height: 97.5vh;
    background: #5D6275;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.5s ease;

}

.container {
    position: absolute;
    width: 95vw;
    height: 90vh;
    margin-left: 10px;
    background: #FFFFFF;
    border-radius: 50px;
    box-shadow: 11px 10px 12px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 11px 10px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 10px 12px 0px rgba(0, 0, 0, 0.75);
    transition: background 0.5s ease;

}

.darkModeButton {
    position: relative;
    width: 63px;
    height: 71px;
    top: 25px;
    left: 93%;
    cursor: pointer;
    border: none;
    background: url(./images/darkModeButtonIcon.png);
    transition: all 0.5s ease;

}

.logo {
    position: relative;
    width: 73px;
    height: 115px;
    left: 30px;
    top: -60px;
    background: url(./images/LogoLightIcon.png);
    transition: all 0.5s ease;

}

form {
    position: relative;
    display: flex;
    top: -50px;
    left: 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 70%;
    transition: all 0.5s ease;
    

}
h3{
    padding-bottom: 10px;
}


form img {
    width: 129px;
    height: 122px;
    margin-bottom: -20px;
    transition: all 0.5s ease;

}

input {
    width: 546px;
    height: 80px;
    margin: 0 0 20px 0;
    background: #D9D9D9;
    border-radius: 50px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    padding-left: 50px;
    transition: all 0.5s ease;


}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.5s ease;
    padding-bottom: 10px;
}

.loginBtn {
    width: 168px;
    height: 82px;
    background-image: linear-gradient(90deg, #F36EC3 0%, #3EDBFF 104.46%);
    border-radius: 50px;
    padding: 0 !important;
    cursor: pointer;
    transition: all 0.5s ease;

}

.loginBtn:hover {
    background-image: linear-gradient(90deg, #cc3c97 0%, #29879c 104.46%);
    width: 190px;
    color: white;

}


/* Dark Mode CSS */ 

.textWhite{
    color: white !important;
}
.backgroundBlack{
    background: black !important;
}

.logoDark{
    
    background: url(./images/LogoDarkIcon.png) no-repeat  !important

}
.lightModeButton{
    background: url(./images/lightModeButtonIcon.png) no-repeat center !important;
}

.terminsateSessionBtn{
width: 88px;
height: 111px;
background: url(./images/LogOutBtnLight.png) no-repeat;
border: none;
position: absolute;
bottom: 0;
left: 25px;
cursor: pointer;
animation-name: fade-in-terminate;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fade-in-terminate {
    0%{
        position: absolute;
        bottom: 0;
        left: 90%;
        transform: scaleX(-1);
    }

    100%{
        position: absolute;
        bottom: 0;
        left: 25px;
        transform: scaleX(1);
    }
}
.terminsateSessionBtn2{
    width: 88px;
    height: 111px;
    background: url(./images/LogOutBtnLight.png) no-repeat;
    border: none;
    position: absolute;
    bottom: 0;
    left: 25px;
    cursor: pointer;
    
    }
    .terminsateSessionBtn2Move{
        width: 88px;
    height: 111px;
    background: url(./images/LogOutBtnLight.png) no-repeat;
    border: none;
    position: absolute;
    bottom: 0;
    left: 25px;
    cursor: pointer;
        animation-name: goRightTerminateBtn;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes goRightTerminateBtn {
        0%{
            position: absolute;
            bottom: 0;
            left: 25px;
        }
        100%{
            position: absolute;
            bottom: 0;
            left: 90%;
            transform: scaleX(-1);
        }
        
    }
.terminsateSessionBtnDark{
    background: url(./images/LogOutBtnDark.png) no-repeat;

}

.Meter{
    width: 200px;
    position: absolute;
    left: 10%;
    top: 30%;

}
.airTempMeter{
    left: 40%;
}
.airHumMeter{
    left: 75%;
}
.soilTempMeter{
    top: 65%;
}
.soilHumMeter{
    left: 40%;
    top: 65%;
}
.soilPhMeter{
    left: 75%;
    top: 65%;
}


.gauge {
    width: 100%;
    max-width: 250px;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #004033;
    margin: auto;
  }
  
  .gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
  }
  
  .gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #009578;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
  }
  
  .gauge__cover {
    width: 75%;
    height: 150%;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
  
    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
  }
  .gauge__cover__Dark{
    background: black;
  }
  .gaugeDark{
    color: white;
  }
  

  .environStates{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin : auto;
    justify-content: space-between;
    height: 65%;
    margin-top: -50px;
    position: relative;
    left: 100%;
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
@keyframes fade-in {
    0%{
        position: relative;
        left: 100%;
    }

    100%{
        position: relative;
        left: 0;
    }
}
.environStateSection1{
    display: flex;
    flex-direction: row;
}
.environStateSection2{
    display: flex;
    flex-direction: row;
    
}
h6{
    margin-top: 10px;
}

.text1{
    position: relative;
    width: 350px;
height: 48px;
left: 65%;
bottom: 5%;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
animation-name: fade-in-PredictionText;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.plantAndPredictionDarkMode{
    color: white !important;
}
@keyframes fade-in-PredictionText {
    0%{
        position: relative;
        left: 180%;
        bottom: 5%;
    }

    100%{
        position: relative;
        left: 65%;
        bottom: 5%;
    }
}
.text2{
    position: relative;
    width: 350px;
height: 48px;
left: 10%;
top: 50%;
bottom: 10%;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
animation-name: fade-in-PredictionText2;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.plantAndPredictionDarkMode{
    color: white !important;
}
@keyframes fade-in-PredictionText2 {
    0%{
        position: relative;
        left: 110%;
        bottom: 5%;
    }

    100%{
        position: relative;
        left: 10%;
        bottom: 10%;
    }
}

.goToPrediction{
    width: 100px;
height: 72px;
    background: url(images/goToArrow.png) no-repeat;
    border: none;
    position: absolute;
    top: 85%;
    left: 90%;
    cursor: pointer;
    animation-name: fade-in-goTo;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: all 0.5s ease;

}
@keyframes fade-in-goTo {
    0%{
        position: absolute;
        left: 20px;
        top: 85%;
        transform: scaleX(-1);
    }

    100%{
        position: absolute;
        left: 90%;
        top: 85%;
        transform: scaleX(1);
    }
}

.goToPrediction2Move{
    width: 100px;
height: 72px;
    background: url(images/goToArrow.png) no-repeat;
    border: none;
    position: absolute;
    top: 85%;
    left: 0;
    cursor: pointer;
    animation-name: fade-in-goTo2;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: all 0.5s ease;

}
@keyframes fade-in-goTo2 {
    0%{
        position: absolute;
        left: 90%;
        top: 85%;
    }

    100%{
        position: absolute;
        left: 20px;
        top: 85%;
        transform: scaleX(-1);
    }
}

.goToPredictionDark{
    background: url(./images/arrow-icon-white-2.jpg) no-repeat center !important;
    z-index: 5;
}


.imgContainer{
    background-color: gray;
    width: 300px;
    height: 300px;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 20%;
    top: 25%;
    animation-name: imgContainerMove;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes imgContainerMove {
    0%{
        position: absolute;
        left: 120%;
        top: 25%;
    }
    100%{
        position: absolute;
    left: 20%;
    top: 25%;
    }
    
}
.imgContainer img{
    width: 100%;
    height: 100%;
}
.predictionTextContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 65%;
    align-items: center;
    justify-content: center;
    animation-name: predictionTextMove;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes predictionTextMove {
    0%{
        position: absolute;
    left: 165%;
    }
    100%{
        position: absolute;
        left: 65%;
    }
    
}
.PredictionTitle{
   
    font-size: 30px;
}
.prediction{
    
    font-size: 25px;
}